---
layout: default
---
{% include page_header.html %}
<!-- Start Blog Area -->
<div class="blog-area section-spacing">
   <div class="container">
      <style>
         .entry-content {
            font-family: "Times New Roman", Times, serif; /* Apply Times New Roman font */
            font-size: 1.5em; /* Adjust the font size as needed */
            font-weight: bold; /* Make the text bold */
            line-height: 1.6; /* Adjust the line height for better readability */
         }
      </style>
      <!-- End Blog Area -->
      <div class="entry-content">
         {{content}} 
      </div>
   </div>
</div>

